$spacing: 7px;

@for $i from 1 through 4 {
  .py-#{$i} {
    padding-top: ($spacing * $i);
    padding-bottom: ($spacing * $i);
  }

  .px-#{$i} {
    padding-right: ($spacing * $i);
    padding-left: ($spacing * $i);
  }

  .pt-#{$i} {
    padding-top: ($spacing * $i);
  }

  .pb-#{$i} {
    padding-bottom: ($spacing * $i);
  }

  .pr-#{$i} {
    padding-right: ($spacing * $i);
  }

  .pl-#{$i} {
    padding-left: ($spacing * $i);
  }

  .my-#{$i} {
    margin-top: ($spacing * $i);
    margin-bottom: ($spacing * $i);
  }

  .mx-#{$i} {
    margin-right: ($spacing * $i);
    margin-left: ($spacing * $i);
  }

  .mt-#{$i} {
    margin-top: ($spacing * $i);
  }

  .mb-#{$i} {
    margin-bottom: ($spacing * $i);
  }

  .mr-#{$i} {
    margin-right: ($spacing * $i);
  }

  .ml-#{$i} {
    margin-left: ($spacing * $i);
  }
}

@include extra-large {
  @for $i from 1 through 4 {
    .py-lg-#{$i} {
      padding-top: ($spacing * $i);
      padding-bottom: ($spacing * $i);
    }

    .px-lg-#{$i} {
      padding-right: ($spacing * $i);
      padding-left: ($spacing * $i);
    }

    .pt-lg-#{$i} {
      padding-top: ($spacing * $i);
    }

    .pb-lg-#{$i} {
      padding-bottom: ($spacing * $i);
    }

    .pr-lg-#{$i} {
      padding-right: ($spacing * $i);
    }

    .pl-lg-#{$i} {
      padding-left: ($spacing * $i);
    }

    .my-lg-#{$i} {
      margin-top: ($spacing * $i);
      margin-bottom: ($spacing * $i);
    }

    .mx-lg-#{$i} {
      margin-right: ($spacing * $i);
      margin-left: ($spacing * $i);
    }

    .mt-lg-#{$i} {
      margin-top: ($spacing * $i);
    }

    .mb-lg-#{$i} {
      margin-bottom: ($spacing * $i);
    }

    .mr-lg-#{$i} {
      margin-right: ($spacing * $i);
    }

    .ml-lg-#{$i} {
      margin-left: ($spacing * $i);
    }
  }
}
