* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $background;
  font-size: 16px;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: $textColor;
}

button {
  padding: 12px 22px;
  font-size: 1rem;
  background: #fff;
  color: $primary;
  box-shadow: none;
  border: solid 1px $primary;
  font-weight: bold;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
